# Unity
Temp/
Library/
Obj/
Build/
*.unityproj
*.sln
*.pidb
*.userprefs
*.user
*.suo
*.log
*.DS_Store
*.meta
*.asset
*.prefab
*.mat
*.anim
*.controller
*.mask
*.mixer
*.physicMaterial
*.renderTexture
*.spriteatlas
*.ttf
*.otf
*.fontsettings
*.giparams
*.lighting
*.lightmap
*.exr
*.hdr
*.cubemap
*.rendertexture
*.assetbundle
*.unitypackage
*.manifest
*.asset
*.dll
*.mdb
*.pdb
*.rsp
*.bak
*.orig
*.rej
*.swp
*.tmp
*.vs/
